@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #98C3ED;
}
.sidebar .logo_details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo_details .i{
    font-size: 30px;
    color: black;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo_details .logo_name{
    font-size: 22px;
    color: black;
    font-weight: 600;
}
hr{
    margin: 20px;
}
.sidebar .nav_links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}
.sidebar .nav_links::-webkit-scrollbar{
    display: none;
}


.sidebar .nav_links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav_links li:hover{
    background: #fff;
    border-radius: 50px 0 0 50px;
}

.sidebar .nav_links li .icon_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .nav_links li .i{
    height: 20px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: black;
}


.sidebar .nav_links li .link{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav_links li .link .link_name{
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: black;
}



.sidebar .profile_details{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4A9AE9;
    padding: 6px 0;
}
.sidebar .profile_details .profile_content{
    display: flex;
    align-items: center;
}
.sidebar .profile_details img{
    height: 47px;
    width: 47px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #4A9AE9;
}
.sidebar .profile_details .profile_name{
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.sidebar .profile_details button{
    background: #4A9AE9;
    border: none;
    outline: none;
    cursor: pointer;
}

.home-section{
    position: relative;
    background: black;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .menu{
    font-size: 35px;
    margin: 0 15px;
}
.home-section .home-content .text{
    font-size: 35px;
    font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-form {
  display: flex;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
  height: 500px;
  transition: all 1s ease;
  margin: 10px;
}

.informacion{
  width: 60%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #c7eef3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.info{
  width: 100%;
  padding: 0 30px;
}

.info h2 {
  font-size: 2rem;
  color: #333;
}

.info p {
  margin: 15px 0;
  color: #555;
}

.info input{
  background-color: transparent;
  outline: none;
  border: solid 2px #9191bd;
  border-radius: 10px;
  padding: 10px 20px;
  color: #9191bd;
  cursor: pointer;
  transition: backgraund-color .3s ease;
}

.info input:hover{
  background-color: #9191bd;
  border: none;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}


.form-informacion{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  text-align: center;
  background-color: #f8f8f8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-info-childs{
  padding: 0 30px;
}

.form-info-childs h2{
  color: #333;
  font-size: 2rem;
}

.form-info-childs p{
  color: #5555;
}

.icons{
  margin: 15px 0;
}

.icons i{
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
  color: #9191bd;
  transition: backgraund-color .3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  border: solid thin #9191bd;
}

.icons i:hover{
  background-color: #9191bd;
  border: none;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.formulario{
  margin: 30px 0 0 0;
}

.formulario label{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.formulario label input{
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #333;
}

.formulario label i{
  color: #a7a7a7;
}

.formulario input[type="submit"] {
  background-color: #9191bd;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.formulario input[type="submit"]:hover {
  background-color: #7a7a9a;
}


.hide {
  position: absolute;
  transform: translateY(-300%);
}

/*RESPONSIVE*/

@media screen and (max-width:750px) {
  html {
      font-size: 12px;
  }
}

@media screen and (max-width:580px) {
  html {
      font-size: 10px;
  }

  .container-form {
      height: auto;
      flex-direction: column;
  }

  .informacion{
      width: 100%;
      padding: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }

  .form-informacion{
      width: 100%;
      padding: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
  }
}

body{
  background-color: #E8F5FF;
}

.contenedor{
  width: 100%;
  max-width: 650px;
  padding: 28px;
  margin: 0 ;
  border-radius: 10px;
  background-color: #fff;
}

.form-title{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
}

.main-user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n){
  justify-content: end;
}

.user-input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 50px;
}

.user-input-box label{
  width: 95%;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input{
  height: 40px;
  width: 95%;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.form-submit-btn{
  margin-top: 10px;
}

.form-submit-btn input{
  cursor: pointer;
  display: block;
  width: 40%;
  margin-top: 10px;
  font-size: 20px;
  padding: 3px;
  border: none;
  background-color: #98C3ED;
  border-radius: 5px;
}
.form-submit-btn input:hover{
  background: #4A9AE9;
}

@media(max-width: 600px) {
  .contenedor{
      min-width: 280px;
  }

  .user-input-box{
      margin-bottom: 12px;
      width: 100%;
  }

  .user-input-box:nth-child(2n){
      justify-content: space-between;
  }

  .main-user-info{
      max-height: 380px;
      overflow: auto;
  }

  .main-user-info::-webkit-scrollbar{
      width: 0;
  }
}

.contenedor-tabla{
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.tabla{
  width: 150%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: -120px;
  padding: 0;
  table-layout: fixed;
}

.tabla caption{
  font-size: 2rem;
  color: #333;
  font-weight: 20bold;
  margin: 50px ;
}

.tabla tr{
  background-color: #fff;
  border: 0.1px solid #E8F5FF;
}
.tabla th{
  font-size: 16px;
  padding: 8px;
  text-align: center;
}
.tabla td{
  font-size: 16px;
  padding: 8px;
  text-align: center;
}
.tabla thead th{
  text-transform: uppercase;
  background-color: #7BD5F6;
}
.tabla tbody tr:hover{
  background-color: rgba(0,0,255,.2);
}
.tabla tbody td:hover{
  background-color: rgba(0,0,255,.3);
}

@media screen and (max-width:650px) {
  .tabla{
      border: 0px;
  }
  .tabla caption{
      font-size: 22px;
  }
  .tabla thead{
      display: none;
  }
  .tabla tr{
      margin-bottom: 8px;
      border-bottom: 4px solid #ccc;
      display: block;
  }
  .tabla th{
      font-size: 12px;
  }
  .tabla td{
      display: block;
      border-bottom: 1px solid #ccc;
      text-align: right;
      font-size: 12px;
  }
  .tabla td:last-child{
      border-bottom: 0px;
  }
  .tabla td::before{
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
      float: left;
  }
}

body{
  background-color: #E8F5FF;
}

.contenedor{
  width: 100%;
  max-width: 650px;
  padding: 28px;
  margin: 0 ;
  border-radius: 10px;
  background-color: #fff;
}

.form-title{
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
}

.main-user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n){
  justify-content: end;
}

.user-input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 50px;
}

.user-input-box label{
  width: 95%;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input{
  height: 40px;
  width: 95%;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.form-submit-btn{
  margin-top: 10px;
}

.form-submit-btn input{
  cursor: pointer;
  display: block;
  width: 40%;
  margin-top: 10px;
  font-size: 20px;
  padding: 3px;
  border: none;
  background-color: #98C3ED;
  border-radius: 5px;
}
.form-submit-btn input:hover{
  background: #4A9AE9;
}

@media(max-width: 600px) {
  .contenedor{
      min-width: 280px;
  }

  .user-input-box{
      margin-bottom: 12px;
      width: 100%;
  }

  .user-input-box:nth-child(2n){
      justify-content: space-between;
  }

  .main-user-info{
      max-height: 380px;
      overflow: auto;
  }

  .main-user-info::-webkit-scrollbar{
      width: 0;
  }
}