@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #9191bd;
}
.sidebar .logo_details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo_details .i{
    font-size: 30px;
    color: black;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo_details .logo_name{
    font-size: 22px;
    color: black;
    font-weight: 600;
}
hr{
    margin: 20px;
}
.sidebar .nav_links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}
.sidebar .nav_links::-webkit-scrollbar{
    display: none;
}


.sidebar .nav_links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav_links li:hover{
    background: #fff;
    border-radius: 50px 0 0 50px;
}

.sidebar .nav_links li .icon_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .nav_links li .i{
    height: 20px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: black;
}


.sidebar .nav_links li .link{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav_links li .link .link_name{
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: black;
}



.sidebar .profile_details{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7a7a9a;
    padding: 6px 0;
}
.sidebar .profile_details .profile_content{
    display: flex;
    align-items: center;
}
.sidebar .profile_details img{
    height: 47px;
    width: 47px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #9191bd;
}
.sidebar .profile_details .profile_name{
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.sidebar .profile_details button{
    background: #7a7a9a;
    border: none;
    outline: none;
    cursor: pointer;
}

.home-section{
    position: relative;
    background: red;
    left: 260px;
    width: calc(100% - 260px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
}
.home-section .home-content .menu{
    font-size: 35px;
    margin: 0 15px;
}
.home-section .home-content .text{
    font-size: 35px;
    font-weight: 600;
}