/* cartas de presentacion */

.card_admin{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card_landing{
    max-width: 800px;
    width: 100%;
    margin: 180px 20px 20px 20px ;
    border-radius: 5px;
    overflow: hidden;
    background: #E5DBFF;
    cursor: default;
    transition: all 400ms ease;  
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column; 
}
.h1_card{
    justify-content: center;
    display: flex;
    align-items: center;
}
.hr-container {
    display: flex; 
    width: 100%; 
    justify-content: center;
    align-items: center; 
    color: #1f1f1f;
}
.card_landing hr {
    margin: 0px 5% 0px 5%;
    border: 1px solid #1f1f1f; 
}          
.card_landing h1,
.card_landing .iconos{
    margin: 1px 0; 
}
.p_card{
    margin: 0px 0px 2px 50px
}

.hr-container{
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.3s;
}
.p_card{
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out 0.3s;
}

.card_landing .iconos {
    font-size: 100px; 
}
.iconos_boton{
    justify-content: center;
    cursor: pointer;
    margin: 0px 5px 3px 20px;
    padding: 5px 0px;
    width: 20%;
    color: #fff;
    background: #389CFC;
    border-radius: 5px;
}



.iconos_boton:hover{
    background: #1D90FA;
}
.card_landing:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.card_landing:hover .hr-container{
    opacity: 1;
    transform: translateY(0px);
}
.card_landing:hover .p_card{
    opacity: 1;
    transform: translateY(0px);
}

