@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.encabezado {
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f9fb;
  border-bottom: 1px solid #000;
  z-index: 99;
}

.contenedor_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.encabezado .logo img {
  height: 100px;
  width: auto;
  transition: all 0.5s;
}

.encabezado .arbol {
  width: fit-content;
}

.encabezado .arbol .links {
  color: #67748e;
  text-decoration: none;
  transition: border-bottom 400ms ease, color 400ms ease;
  position: relative;
  cursor: pointer;
}

.encabezado .arbol .links:hover,
.encabezado .arbol .links.active {
  border-bottom: 5px solid #000;
  color: #000;
  border-radius: 0;
}

.encabezado .arbol {
  display: flex;
}

.encabezado .arbol ul {
  display: flex;
  list-style: none;
}

.encabezado .arbol li {
  display: inline-block;
  padding: 0 20px;
  position: relative;
}

.menu_lateral {
  position: absolute;
  top: 100px;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s ease 0s;
  overflow-y: auto;
}

.menuArbol {
  display: flex;
  flex-direction: column;
}

.tree-link {
  padding: 10px;
  margin: 0px 0px 0px 10px;
  font-size: 17px;
  text-decoration: none;
  color: inherit;
}
.tree-p {
  padding: 10px;
  margin: 0px 0px 0px 10px;
  font-size: 17px;
  text-decoration: none;
  color: inherit;
}
.tree-link:hover {
  background-color: #f6f9fc;
  border-radius: 10px 0px 0px 10px;
}

.iconos-navb {
  margin: 0px 5px;
  color: #67748e;
}

.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: fit-content;
  flex-direction: column;
}

.boton_config {
  position: relative;
  margin-right: 50px;
  color: #67748e;
  background-color: #f7f9fb;
}
.boton_config.rotate {
  animation: rotate 1s linear forwards;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1000deg);
  }
}

.settings-menu {
  position: absolute;
  right: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: fit-content;
  flex-direction: column;
}
.settings-menu ul {
  list-style-type: none;
  padding: 20px;
}

.sub-menu li a {
  display: block;
  padding: 10px 10px;
  width: 100%;
  text-decoration: none;
  margin: 5px;
  color: #333;
}

.sub-menu li a:hover {
  background-color: #ddd;
  color: #000;
}

.encabezado .arbol .links {
  padding: 0px 1px;
  color: #67748e;
  text-decoration: none;
  transition: border-bottom 400ms ease, color 400ms ease;
  position: relative;
  cursor: pointer;
  border-bottom: none;
}

.encabezado .arbol .links:hover,
.encabezado .arbol .links.active {
  color: #000;
  border-radius: 0;
}

.boton_darkMode,
.boton_salir {
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #67748e;
  background-color: #f7f9fb;
}

.boton_darkMode:hover {
  color: black;
}

.boton_salir:hover {
  color: black;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #67748e;
  background-color: #f7f9fb;
  cursor: pointer;
}

.menu_ico {
  font-size: 40px;
}

.overlay {
  display: none;
}

.notification-container {
  position: absolute;
  width: 400px;
  top: 200px;
  right: 1px;
  z-index: 1000;
}

.burger {
  position: relative;
  width: 30px;
  right: 20px;
  height: 25px;
  background: transparent;
  cursor: pointer;
}
.burger input {
  display: none;
}
.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}
.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}
.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}
.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}
.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 21px;
  left: 5px;
}

@media (max-width: 800px) {
  .menu_lateral {
    display: none;
  }

  .arbol {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    height: 100vh;
    min-width: 250px;
    background-color: #e9ecef;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.5s ease 0s;
  }

  .encabezado .arbol .link {
    padding: 15px 20px;
    color: #67748e;
    text-decoration: none;
    transition: border-left 400ms ease, color 400ms ease;
    position: relative;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .encabezado .arbol .link .MuiSvgIcon-root {
    margin-right: 10px;
  }

  .encabezado .arbol .link:hover,
  .encabezado .arbol .link.active {
    border-left: 5px solid #000;
    color: #000;
    border-radius: 0;
  }

  .encabezado .arbol.open {
    display: flex;
    transition: all 0.5s ease 0s;
  }

  hr {
    margin: 10px 10px 10px -10px;
    color: #fff;
    width: 100%;
  }

  .overlay {
    display: flex;
  }
}
