/* Estilos del formulario de agregar inventario */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body_formulario {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 250px;
  padding: 6rem 0;
  width: calc(100% - 250px);
  box-sizing: border-box;
}

.formulario_content {
  border-radius: 10px;
  padding: 40px;
  width: 100%;
  max-width: 1000px;
}

.formulario_titulo {
  display: flex;
  justify-content: center;
  align-items: center;   
  font-size: 2rem;
  color: var(--text-color, #333);
}


.formulario_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.input_formulario {
  width: 50%;
}

.alert_success {
  color: var(--successColor, #28a745);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.alert_error {
  color: var(--errorColor, #dc3545);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}



input:focus,
select:focus {
  border-color: var(--focusBorderColor, #4CAF50);
  outline: none;
}

@media (max-width: 800px) {
  .body_formulario {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 0px;
    padding: 9rem 0;
    width: 100%;
    box-sizing: border-box;
  }

  .formulario_content {
    padding: 20px;
    width: 100%; /* Asegura que el formulario ocupe todo el ancho */
    max-width: 100%; /* Evita que se limite el ancho máximo en pantallas pequeñas */
  }
  .formulario_form {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .input_formulario {
    width: 100%; /* Usa todo el ancho disponible en pantallas pequeñas */
  }
}
