*{
    box-sizing: border-box;
}

.body_formulario{
    padding: 0 1.5em;
}

.formulario_content{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.formulario_titulo{
    text-align: center;
    font-size: 3em;
}

.formulario_wrapper{
    text-align: center;
    margin-top: 70px;
}
.formulario_wrapper > * {
    padding: 1em;
}

.formulario_form{
    margin: 50px 0px 0px 0px;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario_form .block_boton{
    grid-column: 1/3;
}

.mensaje{
    margin: 20px 0px 10px 0px;
    font-size: 20px;
}
.boton_formulario{
    margin: 40px 0px 0px 0px;
    background: #CCCCFF;
    width: 50%;
    padding: .7em;
    border: none;
}
.input_formulario{
    background: none;
    margin: 0px 0px 18px 0px;
    padding: .7em;
    width: 70%;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;
}
.label_formulario{
    margin-bottom: 5px;
    margin: 0px 0px -20px 80px;
    display: flex;
    text-align: center;
}