/* admin */

.encabezado.dark-mode {
  background-color: #171717;
  color: red;
}

.boton_salir.dark-mode {
  background-color: #333;
  color: #b4b4b4;
}

.boton_darkMode.dark-mode {
  background-color: #333;
  color: #b4b4b4;
}
.boton_darkMode.dark-mode:hover {
  color: #7ce38b;
}

.span.dark-mode {
  background-color: #b4b4b4;
}
.encabezado .arbol .links.dark-mode {
  color: #b4b4b4;
  text-decoration: none;
  transition: border-bottom 400ms ease, color 400ms ease;
}
.encabezado .arbol .links.dark-mode:hover,
.encabezado .arbol .links.dark-mode.active {
  border-bottom: 5px solid #7ce38b;
  color: #2eab59;
  border-radius: 0;
}

.boton_config.dark-mode {
  background-color: #171717;
  color: #b4b4b4;
}
.settings-menu.dark-mode {
  background-color: #333;
  color: #b4b4b4;
}

.notification-container.dark-mode {
  background-color: #333;
  color: #2eab59;
}

/* sub menu */

.dark-mode .sub-menu {
  background-color: #333;
  color: #b4b4b4;
}

.dark-mode .sub-menu li a {
  color: #fff;
}

.dark-mode .sub-menu li a:hover {
  background-color: #555;
  color: #fff;
}

@media (max-width: 878px) {
  .encabezado .arbol {
    display: none;
    background-color: #e9ecef;
    transition: all 0.5s ease 0s;
  }
  .encabezado .arbol .link {
    color: #3c3c3c;
    text-decoration: none;
    transition: border-left 400ms ease, color 400ms ease;
  }
  .encabezado .arbol .link:hover.dark-mode,
  .encabezado .arbol .link.active.dark-mode {
    border-left: 5px solid #2eab59;
    color: #2eab59;
  }
  hr.dark-mode {
    margin: 10px 10px 10px -10px;
    color: #b4b4b4;
  }
}

/* index */

aside.dark-mode {
  background-color: #171717;
}
main.dark-mode {
  background-color: #171717;
}

/* grafico historial */
.seleccionar.dark-mode {
  border: none !important;
  background-color: #171717;
  color: #b4b4b4;
}
.fecha_historial.dark-mode {
  color: #b4b4b4;
  border: none;
  background-color: #171717;
}
.container_widgets.dark-mode {
  background-color: #3c3c3c;
  color: #b4b4b4;
}
.subtitulos_historial.dark-mode {
  color: #b4b4b4;
}
.texto_total.dark-mode {
  color: #b4b4b4;
}
.chart_container.dark-mode {
  background-color: #171717;
  color: #b4b4b4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}

/* crear usuarios */

.body_formulario.dark-mode {
  background-color: #171717;
}
.formulario_titulo.dark-mode {
  color: #b4b4b4;
}
.formulario_form.dark-mode {
  background-color: #171717;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}
.input_formulario.dark-mode {
  background-color: #3c3c3c;
}

/* gestion de mantenciones admin */
.contenedor_mantencion.dark-mode {
  background-color: #171717;
}
.titulo_mantencion.dark-mode {
  background-color: #3c3c3c;
  color: #b4b4b4;
}

.task-container.dark-mode {
  background-color: #17212b;
}
.lista_titular.dark-mode {
  background-color: #17212b;
}
.contenido_lista.dark-mode {
  background-color: #3c3c3c;
  color: #b4b4b4;
}
.descripcion_lista.dark-mode {
  background-color: #3c3c3c;
  color: #b4b4b4;
}

/* generarQR Admin & Mecanico */

.body_generarQR.dark-mode {
  background-color: #171717;
}
.generarQR_titulo.dark-mode {
  color: #b4b4b4;
}
.formulario_form_generarQR.dark-mode {
  background-color: #171717;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}
.input_generarQR.dark-mode {
  background-color: #3c3c3c;
}

/* listar factura porveedor */

.dark-mode .MuiTableCell-root {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .MuiTableHead-root .MuiTableCell-root {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .MuiTableRow-root:nth-of-type(odd) {
  background-color: #2a2a2a;
}

.dark-mode .MuiTableRow-root:nth-of-type(even) {
  background-color: #1e1e1e;
}

.dark-mode .MuiIconButton-root {
  color: #ffffff;
}

.dark-mode .MuiButton-root {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #444444;
}

.dark-mode .MuiDialog-paper {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .MuiDialogTitle-root,
.dark-mode .MuiDialogContent-root,
.dark-mode .MuiDialogActions-root {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode .input_formulario {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #444444;
}

.dark-mode .listado-facturas-container {
  background-color: #000000; /* Fondo negro */
}

.dark-mode h2 {
  color: #ffffff; /* Color del texto del título */
}

.dark-mode .MuiTableContainer-root {
  background-color: #000000; /* Fondo negro */
}

.dark-mode .MuiPaper-root {
  background-color: #000000; /* Fondo negro */
}

.dark-mode .MuiButton-containedPrimary {
  background-color: #000000; /* Fondo negro */
}

.dark-mode .MuiInputBase-root {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #444444;
}

/* Historial Mantencion Admin */

.table_header.dark-mode {
  background-color: #444;
}

.table_section.dark-mode {
  background-color: #555;
}

.text-field-dark-mode .MuiInputBase-input {
  color: #fff;
}

.text-field-dark-mode .MuiInputLabel-root {
  color: #fff;
}

.text-field-dark-mode .MuiOutlinedInput-notchedOutline {
  border-color: #fff;
}

.button-dark-mode {
  background-color: #777;
  color: #fff;
}

.button-dark-mode:hover {
  background-color: #999;
}

/* Previsualizar Usuario */

.MuiPaper-root.dark-mode {
  background-color: #444;
  color: #fff;
}

.MuiTypography-root.dark-mode {
  color: #fff;
}

.MuiButton-root.dark-mode {
  border-color: #fff;
  color: #fff;
}

.MuiButton-root.dark-mode.blue {
  background-color: blue;
}

.MuiButton-root.dark-mode.red {
  background-color: red;
}

/* Crear Cliente Factura */

.MuiPaper-root.dark-mode {
  background-color: #444;
  color: #fff;
}

.MuiTextField-root.dark-mode .MuiOutlinedInput-root {
  background-color: #555;
  color: #fff;
}

.MuiButton-root.dark-mode {
  border-color: #fff;
  color: #fff;
}

.MuiTypography-root.dark-mode {
  color: #fff;
}
