* {
  box-sizing: border-box;
}

.body_generarQR {
  margin-top: -60px;
  background-color: #f7f9fb;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.formulario_content_generarQR {
  position: relative;
  text-align: center;
  padding: 1em;
}

.generarQR_titulo {
  text-align: center;
  font-size: 3em;
}

.formulario_form_generarQR {
  margin: 50px;
  padding: 1em;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input_generarQR {
  margin: 0 0 18px 0;
  padding: 0.7em;
  width: 80%;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 5px;
  background-color: #ffffff;
}

#qr-code-canvas {
  margin: 20px;
  width: 300px;
  height: 300px;
  transition: opacity 0.5s ease;
}

#qr-code-canvas.show {
  opacity: 1;
}

.boton_qr_descargar_qr {
  background-color: #e74c3c;
}

.boton_qr_descargar_qr:hover {
  background-color: #c0392b;
}
