/* Example CSS */
.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.informacion {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.info h1 {
  color: #333;
}

.task-board {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.task-column {
  flex: 1;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0 10px;
}

.task-column h2 {
  color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .task-board {
    flex-direction: column;
  }

  .task-column {
    margin: 10px 0;
  }
}

li {
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #e0e0e0;
}