.grafico-container {
  flex: 1;
  margin: 10px;
  align-self: stretch; 

}


.grafico {
  width: 100%;
  width: 100%; 
  background-color: #FFFFFF;
}

.titulo-Grafico {
  font-size: 2em; 
  color: #AAAAAB;
  margin-top: 10px;
}

