.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos personalizados para el calendario */
.card_admin_calendario {
  margin: 0px 0px 0px 20px;
  width: 50%;
  display: flex;
}
.tabla_listar{
  background-color: #B2FFFF;
  width: 100vw;
  height: 100vh;
}
.calendario {
  width: 100%;
  padding: 20px;
  margin: 80px 0px 0px 10%;
}
.react-calendar {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.react-calendar__navigation {
  background-color: #5B5FC7;
  color: #fff;
}
.react-calendar__navigation__arrow {
  color: #fff;
}
.react-calendar__tile--now {
  color: #000;
}
.react-calendar__tile {
  color: #000;
}


.card_admin {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card_section {
  max-width: 800px;
  width: 100%;
  margin: 20px 20px 20px 20px;
  border-radius: 5px;
  overflow: hidden;
  background: #E5DBFF;
  cursor: default;
  transition: all 400ms ease;
  gap: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.section_title {
  justify-content: center;
  display: flex;
  align-items: center;
}

.section_hr {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #1f1f1f;
}

.card_section hr {
  margin: 0px 5% 0px 5%;
  border: 1px solid #1f1f1f;
}

.section_title,
.section_icon {
  margin: 1px 0;
}

.section_subtitle {
  margin: 0px 0px 2px 50px;
}

.section_icon {
  font-size: 100px;
}

.card_functionality {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  background-color: #389CFC;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card_functionality:hover {
  background-color: #266bb5;
}

.functionality_icon {
  font-size: 25px;
}

.contenedor_cartas_iconos {
  margin: 50px 0px 0px 20px;
  width: 50%;
  height: 100; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  overflow-y: auto; 
  direction: rtl; 
  background: #1f1f1f;
}

.cartas_iconos {
  text-align: center;
  padding: 10px;
  background-color: #E5DBFF;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 0 0 calc(33.33% - 20px); /* Distribuye los elementos en 3 columnas con un espacio de 20px */
  max-width: 250px; /* Establece el ancho máximo deseado */
}

.cartas_iconos:hover {
  background-color: #C4B4FF;
}

.functionality_icon {
  font-size: 25px;
  margin-bottom: 10px;
}

.grafico_barras {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
  .card_section {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
